.notmobile {
  display: none;
}
.mobile {
  display: block;
}

main {
  display: grid;
  width: calc(100vw - 64px);
  grid-template-columns: 30% 70%;
  gap: 32px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px !important;
}
.detail {
  width: 16px;
  height: 8px;
  border-radius: 80px;
}
aside:not(.mobile) {
  padding: 20px;
}
.title h4 {
  text-transform: uppercase;
  font-weight: 600;
  white-space: normal;
  width: 100%;
}
.dropDownDataItem h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.dropDownDataItem {
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 32px; */
  max-width: 220px;
}

svg {
  padding: 5px;
}

svg:not(.notHover):hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.DropDownClosed {
  animation: closeDropDown 600ms forwards;
  overflow: hidden;
}
.DropDownOpen {
  animation: DropDownOpen 600ms forwards;
  overflow: hidden;
}

@keyframes closeDropDown {
  0% {
    max-height: 500px;
    display: block;
  }

  100% {
    max-height: 0px;
    display: none;
  }
}
@keyframes DropDownOpen {
  0% {
    max-height: 0px;
    display: block;
  }

  100% {
    max-height: 500px;
    display: none;
  }
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 24px;
  justify-content: center;
}

.gridCards h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 12px 0px;
  line-height: 26px;
  height: 52px; /* Two Lines */
}

.contos {
  align-items: center;
  /* align-items: start !important; */
  padding: 0px;
  /* padding-right: 12px; */
  padding-top: 20px;
}

/* .Menu {
  position: absolute;
  display: none;
  top: 32px;
}
SISTEMA DE ORDENAR
.hoverMenu:hover .Menu {
  display: block;
  padding: ;
} */

.notmobile {
  display: block;
}
.mobile {
  display: none;
}
@media (max-width: 1024px) {
  .notmobile {
    display: none;
  }
  .mobile {
    display: block;
  }
  .opener {
    border-radius: 0px 50% 50% 0px;
    padding: 6px;
    position: relative;
    right: 8px;
    background-color: #dddddd;
  }
  .closer {
    border-radius: 0px 50% 50% 0px;
    padding: 6px;
    position: absolute;
    left: -8px;
    top: 50%;
    z-index: 60;
    background-color: #dddddd;
  }
  .opener svg,
  .closer svg {
    fill: black !important;
    padding: 0px;
  }
  .opacity-80 * {
    opacity: 1;
    color: white;
  }
  main {
    width: 100vw;
    grid-template-columns: 100%;
    justify-items: center;
  }

  .gridCards {
    width: 100vw;
    justify-content: center;
  }
  .h-screencustom {
    height: calc(100vh - 80px);
  }
  aside {
    display: none;
  }
  .afterDetail::after {
    width: 80vw;
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -6px;
    height: 2px;
    border-radius: 25px;
    opacity: 0.2;
  }
  .afterDetail {
    justify-content: center;
    margin: 20px auto;
    /* margin-bottom: 20px; */
  }
}
