.mainContainer {
  display: flex;  
  width: 100vw;
  /* position: absolute; */
  top: 0px;
}

.image {
  width: 100%;
/* width: calc(100% / 6); */
aspect-ratio: 1;
}

.imgContainer:not([data-isArner="true"]) {
  display: flex;
width: calc(100% / 6);
aspect-ratio: 1;
flex-direction: column;
}

.image-large {
  width: calc(100% / 3);
  /* aspect-ratio: 1; */
}

div[data-isarner="true"] {
  width: calc(100% / 3);
}

@media (max-width: 480px) {
  .mainContainer {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: hidden;
  }
  .mainContainer div {
    flex-direction: row !important;
    width: 100%;
  } 
  .imgContainer:not([data-isArner="true"]) {
  display: flex;
width: calc(100% / 2);
aspect-ratio: 1;
flex-direction: row;
}
.image {
  width: 100%;
  aspect-ratio: 1;
}
.image-large {
  width: 100%;
  height: 100%;
}
}