.UniverseContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 32px;
  /* margin-top: 32px; */
  backdrop-filter: blur(1.8px);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  /* padding: inherit; */
}

.UniverseContainer * {
  color: white;
}

.info {
  color: #d9d9d9;
}

.tag {
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
}

.contoPageDivision {
  width: calc(100vw - 64px);
  margin: 12px auto;
  border-radius: 80px;
  height: 2px;
}

.Capitulo {
  width: 384px;
  padding: 16px;
  display: flex;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.3);
  background-color: #b140a6;
  justify-content: space-between;
  align-items: center;
}

.capContent {
  /* width: 48%; */
  background-color: #080808;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 0px 20px;
  transition: 0.5s;
  overflow-y: hidden;
}

.active {
  padding: 4px 20px;
}

.Capitulo:hover {
  background-color: #7a2672;
  cursor: pointer;
}
.capContainer * {
  color: white;
}
.Capitulo:hover h1 {
  letter-spacing: 1px;
}

.Capitulo h1 {
  font-weight: 500;
}

.capContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.capContainer button {
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 20px;
}

.capContainer button:hover {
  background-color: #7a2672;
  cursor: pointer;
}
.bgroundopacity {
  background-color: rgba(0, 0, 0, 0.8);
}
.hoverRelacionado .bgroundopacity {
  display: flex;
  transition: 0.6s;
  /* display: none; */
  opacity: 0;
}
.hoverRelacionado:hover .bgroundopacity {
  opacity: 1;
}
