/* ESTILOS DE TEXTO */
:root {
  --color-main: #b140a6;
  /* --color- */
  --color-mainclaro: #df5fd3;
  --color-mainescuro: #8d3184;
  --color-secundario: #f8bc22;
  --color-background: #e7e7e7;
  @media (prefers-color-scheme: light) {
    --color-textmain: #080808;
    --color-textsecundary: rgba(0, 0, 0, 0.6);
    --color-textterciary: rgba(0, 0, 0, 0.35);
    --color-background: #e7e7e7;
  }
  @media (prefers-color-scheme: dark) {
    --color-textmain: #e7e7e7;
    --color-textsecundary: rgba(255, 255, 255, 0.6);
    --color-textterciary: rgba(255, 255, 255, 0.35);
    --color-background: #202020;
  }
}
*:not(div, section, header) {
  color: var(--color-textmain);
  transition: 0.2s;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  color: var(--color-textmain, inherit);
}

h1 {
  font-size: 60px;
  font-weight: 800;
  /* font-family: MontSerrat */
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 550;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
}
