@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {overflow-x: hidden;}

input {
  outline: none;
  border: none;

}

input:focus-visible {
  outline: none;
  border: none;
}

* + header {
  margin-top: 140px;
}

.rootContainer {
  padding-top: 133px;
}

@media (max-width: 1024px) {
  .rootContainer {
    padding-top: 80px;
  }
}

@keyframes scaleAnimation {
  0% {
    /* transform: scaleX(0); */
    max-width: 0px;
  }
  
  100% {
    /* transform: scaleX(1); */
    max-width: 360px;
  }
}

.scaleAnimation {
  animation: scaleAnimation 2s ease-in-out forwards;
}