@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100% ;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {overflow-x: hidden;}

input {
  outline: none;
  border: none;

}

input:focus-visible {
  outline: none;
  border: none;
}

* + header {
  margin-top: 140px;
}

.rootContainer {
  padding-top: 133px;
}

@media (max-width: 1024px) {
  .rootContainer {
    padding-top: 80px;
  }
}

@keyframes scaleAnimation {
  0% {
    /* transform: scaleX(0); */
    max-width: 0px;
  }
  
  100% {
    /* transform: scaleX(1); */
    max-width: 360px;
  }
}

.scaleAnimation {
  animation: scaleAnimation 2s ease-in-out forwards;
}

/* ESTILOS DE TEXTO */
:root {
  --color-main: #b140a6;
  /* --color- */
  --color-mainclaro: #df5fd3;
  --color-mainescuro: #8d3184;
  --color-secundario: #f8bc22;
  --color-background: #e7e7e7;
  @media (prefers-color-scheme: light) {
    --color-textmain: #080808;
    --color-textsecundary: rgba(0, 0, 0, 0.6);
    --color-textterciary: rgba(0, 0, 0, 0.35);
    --color-background: #e7e7e7;
  }
  @media (prefers-color-scheme: dark) {
    body { @apply dark }
    --color-textmain: #e7e7e7;
    --color-textsecundary: rgba(255, 255, 255, 0.6);
    --color-textterciary: rgba(255, 255, 255, 0.35);
    --color-background: #202020;
  }
}
*:not(div, section, header) {
  color: var(--color-textmain), inherit;
  transition: 0.2s;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  color: var(--color-textmain);
}

h1 {
  font-size: 60px;
  font-weight: 800;
  /* font-family: MontSerrat */
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 550;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
}

/* ___________________________ BODY e Sections */

body {
  background-color: var(--color-background);
}

footer {
  width: 100vw;
  padding: 32px;
  display: flex;
  border: none;
  background-color: #d9d9d9;
  margin-top: 48px;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 1024px) {
  footer {
    align-items: center;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  footer img {
    margin: 0 auto;
  }
}

hr {
  background-color: var(--color-textmain);
}

footer img {
  object-fit: contain;
  aspect-ratio: 9/3;
  width: fit-content;
  max-width: 200px;
}

footer * {
  color: black;
}

.footerItem:hover {
  font-size: 24px;
}

/* _____________________ */

.nontransition,
.nontransition * {
  transition: 0s;
}

.colorMain {
  color: var(--color-main);
}
.BGcolorMain {
  background-color: var(--color-main);
}
.BGcolorSec {
  background-color: var(--color-secundario);
}
.BGcolorSec:hover {
  border: 0.2 px transparent;
  background-color: #ffd772;
}
.BGcolorEscuro {
  background-color: var(--color-mainescuro);
}

.BGcolorFundo {
  background-color: var(--color-background);
}

.BGcolorText {
  /* background-color: #121212; */
  background-color: var(--color-textmain);
  color: #e7e7e7 !important;
}

.afterDetail::after {
  background-color: var(--color-textmain);
}

.notmobile {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .notmobile {
    display: none;
  }

  .mobile {
    display: block;
  }
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

textarea:focus-visible {
  outline: none;
  border: 0.4px rgba(0, 0, 0, 0.25) solid;
}

.text-white * {
  color: white !important;
}

.animation{
	margin-top:70px;
	display:inline-block;
	margin-bottom:40px;
}
/* .spin-one {
	-webkit-animation: spin-one 1.5s infinite linear;
	animation: spin-one 1.5s infinite linear;
}
@keyframes spin-one {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-359deg);
		transform: rotate(-359deg);
	}
}
.spin-two {
	-webkit-animation: spin-two 2s infinite linear;
	animation: spin-two 2s infinite linear;
}
@keyframes spin-two {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-359deg);
		transform: rotate(359deg);
	}
} */

.page_hist * {
  color: black !important;
}